body {
    background-color: rgb(131, 131, 131);
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0ncMZ5u4EFiFh2GHQaKi5qgs5pNDsptdMeA&usqp=CAU');
    background-position: no-repeat, repeat;
    background-blend-mode: lighten;
}

h1, h3 {
    text-align: center;
}

.display {
    border: solid black 5px;
}
/* .navbar {

} */

.rendering{
    color: rgb(28, 28, 49);
    border-style: solid;
    border-bottom: 10cm;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: xx-large;
    text-shadow: 2px 2px white;
    
}



/* @media only screen and (max-width: 768px){
    .display {
        border: dotted black 2px;
    }
} */